<div class="mb-3">
                <label for="category" class="form-label">Category:</label>
                <div class="all-categories ">
                    <div class="btn-group btn-ckbox" role="group" aria-label="Basic checkbox toggle button group">
                        <input type="checkbox" class="btn-check" id="Trending" autocomplete="off" name ="listing[category]" value="Trending">
                        <label class="btn btn-outline-primary" for="Trending"><i class="fa-solid fa-fire"></i>&nbsp;Trending</label>
                    </div>

                    <div class="btn-group btn-ckbox" role="group" aria-label="Basic checkbox toggle button group">
                        <input type="checkbox" class="btn-check" id="Rooms" autocomplete="off" name ="listing[category]" value="Rooms">
                        <label class="btn btn-outline-primary" for="Rooms"><i class="fa-solid fa-bed"></i>&nbsp;Rooms</label>
                    </div>

                    <div class="btn-group btn-ckbox" role="group" aria-label="Basic checkbox toggle button group">
                        <input type="checkbox" class="btn-check" id="IconicCites" autocomplete="off" name ="listing[category]" value="IconicCites">
                        <label class="btn btn-outline-primary" for="IconicCites"><i class="fa-solid fa-city"></i>&nbsp;Iconic Cites</label>
                    </div>

                    <div class="btn-group btn-ckbox" role="group" aria-label="Basic checkbox toggle button group">
                        <input type="checkbox" class="btn-check" id="Mountains" autocomplete="off" name ="listing[category]" value="Mountains">
                        <label class="btn btn-outline-primary" for="Mountains"><i class="fa-solid fa-mountain"></i>&nbsp;Mountains</label>
                    </div>

                    <div class="btn-group btn-ckbox" role="group" aria-label="Basic checkbox toggle button group">
                        <input type="checkbox" class="btn-check" id="Castles" autocomplete="off" name ="listing[category]" value="Castles">
                        <label class="btn btn-outline-primary" for="Castles"><i class="fa-brands fa-fort-awesome"></i>&nbsp;Castles</label>
                    </div>

                    <div class="btn-group btn-ckbox" role="group" aria-label="Basic checkbox toggle button group">
                        <input type="checkbox" class="btn-check" id="AmazingPools" autocomplete="off" name ="listing[category]" value="AmazingPools">
                        <label class="btn btn-outline-primary" for="AmazingPools"><i class="fa-solid fa-person-swimming"></i>&nbsp;Amazing Pools</label>
                    </div>

                    <div class="btn-group btn-ckbox" role="group" aria-label="Basic checkbox toggle button group">
                        <input type="checkbox" class="btn-check" id="Camping" autocomplete="off" name ="listing[category]" value="Camping">
                        <label class="btn btn-outline-primary" for="Camping"><i class="fa-solid fa-campground"></i>&nbsp;Camping</label>
                    </div>

                    <div class="btn-group btn-ckbox" role="group" aria-label="Basic checkbox toggle button group">
                        <input type="checkbox" class="btn-check" id="Farms" autocomplete="off" name ="listing[category]" value="Farms">
                        <label class="btn btn-outline-primary" for="Farms"><i class="fa-solid fa-cow"></i>&nbsp;Farms</label>
                    </div>

                    <div class="btn-group btn-ckbox" role="group" aria-label="Basic checkbox toggle button group">
                        <input type="checkbox" class="btn-check" id="Arctic" autocomplete="off" name ="listing[category]" value="Arctic">
                        <label class="btn btn-outline-primary" for="Arctic"><i class="fa-regular fa-snowflake"></i>&nbsp;Arctic</label>
                    </div>
                </div>
            </div>